:root {
  --background: #09090a;
  --conponet-color: #8b5cf6;
  --text-color: #ffffff;
  --border: #8b5cf6;
  --set-color: #16a34a;
  --highlight-color-hover: rgba(255, 255, 255, 0.2);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background: var(--background);
  color: #fff;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background: rgba(43, 43, 48, 0.06);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);

  padding: 0 48px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 70px 0;
}

.place{
  animation: flipLogo 5s infinite;
}

@keyframes flipLogo {
  from {
    transform: rotateY(360deg);
  }
  to {
    transform: rotateY(0deg);
  }
}

.card img {
  width: 200px;
}

.title {
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 125%;
  margin-bottom: 15px;

 animation: flipTitle 2s;
}

.subTitle {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
  opacity: 0.8;
}

@keyframes flipTitle {
  from {
    transform: rotateX(90deg);
  }
  to {
    transform: rotateX(0deg);
  }
}

.containerInput {
  background-color: #27272a96;
  padding: 15px;
  margin: 42px 0;
  display: flex;
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  transition: 1s ease-in;
}

.containerInput:hover {
  border-radius: 12px;
}

.containerInput input {
  background-color: transparent;
  border: 0;
  font-size: 20px;
  color: var(--text-color);
  outline: none;
  margin-right: 8px;
}

.containerInput input::placeholder {
  color: #f1f1f1;
}

.buttonSearch {
  background-color: transparent;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.5s;
}

.buttonSearch:hover {
  transform: scale(1.2);
}

.main {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 0 48px;
  margin-top: 25px;

  background: rgba(112, 112, 126, 0.09);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
}

.copyIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 4px;
  cursor: pointer;
  transition: 1s;
}

.copyIcon:hover {
  border-radius: 8px;
  background-color: #27272a96;
}

.main h2 {
  margin: 16px 0;
  font-size: 40px;
}

.main span {
  margin-bottom: 16px;
  font-weight: bold;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  padding: 25px;
  width: 100%;
  gap: 25px;
  font-size: 14px;
}

footer .footerLogo {
  display: flex;
  align-items: center;
  gap: 5px;
}

footer .footerLogo span {
  /* font-family: "Inter"; */
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #f1f1f1;
  line-height: 1.5;
  opacity: .8;
}

footer a {
  color: rgb(9, 105, 218);
  text-decoration: none;
}

footer a:hover{
  text-decoration: underline;
}

/* responsividade */
@media(max-width: 500px){
  /* container */
  .card{
    width: 380px;
  }
  .title{
    font-size: 42px;
  }
  .subTitle{
    font-size: 14px;
  }
  .containerInput{
    width: 300px;
  }
  .containerInput input {
    width: 300px;
  }
  .buttonSearch{
    position: absolute;
    right: 60px;
  }

  /* main */
  .main{
    display: flex;
    align-items: flex-start;
    width: 380px;
  }
  .main h2{
    font-size: 32px;
  }
  .main span{
    font-size: 14px;
  }

  /* footer */
  footer{
    position: relative;
    background-color: #09090a;
  }
}
